[submodule "core/deps/v8bind"]
	path = core/deps/v8bind
	url = https://github.com/ayles/v8bind
[submodule "core/deps/intrusive_ptr"]
	path = core/deps/intrusive_ptr
	url = https://github.com/GoltikRee/intrusive_ptr.git
[submodule "core/deps/math"]
	path = core/deps/math
	url = https://github.com/SharpyTeam/math.git
[submodule "core/deps/glew"]
	path = core/deps/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "core/deps/glfw"]
	path = core/deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "core/deps/glslcross"]
	path = core/deps/glslcross
	url = https://github.com/SharpyTeam/glslcross.git
